<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://activemq.apache.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="appProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="singleton" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:application.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="appProperties" />
        <property name="locations">
        	<list>
				<value>classpath*:application.properties</value>
			</list>
        </property>
	</bean>
	
	<!-- The servletContext is required by the ServerContextResource  -->
	<bean id="servletContext" class="org.springframework.web.context.support.ServletContextFactoryBean"/>
	
	<!-- This bean is required to get the absolute path to the SQLite database. Required by the JDBC driver.  -->
	<bean id="db" class="org.springframework.web.context.support.ServletContextResource">
	    <constructor-arg ref="servletContext" />
    	<constructor-arg value="/WEB-INF/application.db" />
	</bean>

	<bean id="appDB" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.sqlite.JDBC"/>
		<property name="url" value="#{'jdbc:sqlite:' + db.file.absolutePath}" />
	    <property name="maxActive" value="1" />
	    <property name="maxIdle" value="1" />
	</bean>	
	
	
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="appDB" />
		<property name="annotatedClasses">
			<list>
				<value>pl.pioro.model.UploadedFileDTO</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">pl.pioro.spring.hibernate.SQLiteDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>
	</bean>    


    <bean id = "transactionManager" class = "org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name = "sessionFactory" ref = "sessionFactory" />
	</bean>  
    
    <!-- Enable annotation driven transactions. Required by getCurrentSession(). -->
    <tx:annotation-driven />

	<task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
	<task:executor id="myExecutor" pool-size="5"/>
	<task:scheduler id="myScheduler" pool-size="10"/>

</beans>
